main.main {
  header .navbar {
    .navbar-nav .nav-link {
      text-transform: capitalize;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .navbar-nav {
        display: none !important;
      }
      .container .d-flex &:first-child {
        width: -webkit-fill-available;
      }
    }
  }
}

.main__wrapper {
  padding: 4em 0em 2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
  h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0em;
  }
  .table {
    td {
      vertical-align: middle;
    }
    thead {
      cursor: pointer;
      th {
        color: #9e9e9e;
        font-weight: normal;
        border-bottom: none;
        i {
          margin-left: 10px;
        }
      }
    }
    &.table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }
    tbody tr td a {
      text-decoration: none;
      color: #02a9f4;
    }
  }
  .list-group {
    .list-content {
      box-shadow: 0 4px 40px #03293d0d;
      .list-group-item {
        border: none;
        border-bottom: 0.2px solid #0000000d;
        &:last-child {
          border: none;
        }
        &.active {
          background-color: #02a9f4;
          border-color: #02a9f4;
        }
      }
    }
  }
  .movies-content {
    box-shadow: 0 4px 40px #03293d0d;
    padding: 1em 2em;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.btn--link {
  padding: 8px 24px;
  border-radius: 5px;
  background: #03a9f4;
  color: #fff;
  transition: 0.5s ease-in;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: #199ad4;
    transition: 0.5s ease-in;
  }
}

.form--wrapper {
  padding: 3em 0em;
  margin: 0 auto;
}

.container__wrap {
  padding: 4em 0em 2em;
  transition: 1s ease-in;
  .container {
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    p {
      text-align: center;
      padding: 1em;
      background: #00bcd48c;
      margin: 0;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
    }
    &.visible {
      visibility: visible;
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}
.form-card {
  width: 600px;
  margin: 0 auto;
  &.card {
    box-shadow: 0 4px 40px rgba(3, 41, 61, 0.05);
    border: none;
    border-radius: 15px;
    padding: 3em 2em 2em;
    h3 {
      text-align: center;
      font-size: 20px;
    }
  }
}
.input {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;
  label {
    font-size: 14px;
    color: rgba(30, 31, 32, 0.5);
  }
  input[type='number'],
  input[type='password'],
  select,
  input[type='text'] {
    display: block;
    padding: 1em 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 55px;
    font-size: 15px;
    color: #1e1f20;
    background: rgba(228, 228, 228, 0.49776);
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.1rem rgba(45, 45, 45, 0.15);
    }
  }
  textarea {
    display: block;
    padding: 1.2em 20px;
    border-radius: 10px;
    width: 100%;
    height: 120px !important;
    font-size: 15px;
    background: rgba(228, 228, 228, 0.49776);
    border: 1px solid rgba(33, 51, 94, 0.05);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.1rem rgba(45, 45, 45, 0.15);
    }
  }
  label.checkbox {
    display: flex;
    align-items: center;
    margin: 0em;
    cursor: pointer;
  }
  select {
    background: url('/assets/img/svg/arrow-down.svg') 95% center no-repeat
      rgba(228, 228, 228, 0.49776) !important;
    appearance: none;
    &:invalid,
    &:disabled {
      color: #c8c8c8;
    }
  }
  .alert-danger {
    border-radius: 10px;
    font-size: 12px;
  }
}
.page--not--found {
  padding: 3em 0em 2em;
  height: 94vh;
  h4 {
    font-weight: bold;
  }
  p small {
    color: #a1a1a2;
  }
  .banner {
    img {
      width: 100%;
    }
  }
}
